In [7]:
#count the no of digits in the given string
a=input("enter string")
i=0
count=0
sum=0
while(i<len(a)):
    if(a[i].isdigit()):
        count+=1
        sum+=int(a[i])
        i+=1
    else:
        i+=1
print("count",count)    
print("sum",sum)

enter stringpython123isgood789
count 6
sum 30

In [14]:
b=int(input("enter number"))
for i in range(0,b+1,2):
    print(i,end=" ")

enter number12
0 2 4 6 8 10 12

In [3]:
#print the string with spaces
str1=input()
i=0
while(i<len(str1)):
    print(str1[i],end=" ")
    i+=1

python
p y t h o n

In [9]:
st=input()
for i in range(0,len(st)):
    print(st[i],end=" ")
print()
for i in st:
    print(i,end=" ")

rohitha
r o h i t h a
r o h i t h a

# collection  data type:
## list:

1. [] for creating list
2. lists are mutable
3. list are indexed
5. list allows duplicate values
6. it stores heterogenous values

In [21]:
list1=[23,34,45,65,87,"stribg",True]
print(list1[-1])
print(list1[2:5])
print(list1[-2][::-1])# reverse an object in list
print(list1[::-1])#reverse
print(list1[::-2])

True
[45, 65, 87]
gbirts
[True, 'stribg', 87, 65, 45, 34, 23]
[True, 87, 45, 23]

In [22]:
l1=[23,34,45,65,87,"stribg",True,[1,2,3]]
print(l1[-1][-1])

3

In [43]:
#manipulating a list
li=[45,67,32,45,67]
print("before adding",li)
li.append(100)
li.append(200)
li.append(300)
print("after adding",li)
# insert() for inserting at particular position
li.insert(2,300)
print(li)
li.insert(3,54)
print(li)

before adding [45, 67, 32, 45, 67]
after adding [45, 67, 32, 45, 67, 100, 200, 300]
[45, 67, 300, 32, 45, 67, 100, 200, 300]
[45, 67, 300, 54, 32, 45, 67, 100, 200, 300]

In [44]:
#extend
li.extend([1,2,3])
print(li)

[45, 67, 300, 54, 32, 45, 67, 100, 200, 300, 1, 2, 3]

In [45]:
li

[45, 67, 300, 54, 32, 45, 67, 100, 200, 300, 1, 2, 3]

In [46]:
li.extend([[12,45],"rohi",23])
print(li)

[45, 67, 300, 54, 32, 45, 67, 100, 200, 300, 1, 2, 3, [12, 45], 'rohi', 23]

In [48]:
print(li[-3])

[12, 45]

In [51]:
#removing elements from the list
#1. pop()
#remove() removes an object . used to delete without knowing its index
# clear() removes all objects in list
li.pop()

23

In [52]:
li.pop(2)

300

In [53]:
print(li)

[45, 67, 54, 32, 45, 67, 100, 200, 300, 1, 2, 3, [12, 45], 'rohi']

In [57]:
li.remove(54)
print(li)

[45, 67, 32, 45, 67, 200, 300, 1, 2, 3, [12, 45], 'rohi']

In [58]:
li.clear()
li

[]

In [60]:
#replacing element
li=[2,34,56,76,87]
li[3]=123

[2, 34, 56, 123, 87]

In [65]:
#sorting a list
# sort() doesnt return any value
li.sort()
li

[2, 34, 56, 87, 123]

In [64]:
li.sort(reverse=True)
li

[123, 87, 56, 34, 2]

In [70]:
s=[1,4,5,6,8,3,4,5,6]
s.reverse()
s

[6, 5, 4, 3, 8, 6, 5, 4, 1]

In [72]:
s.index(8)

4

In [75]:
s.count(4)

2

In [76]:
s2=s
s2

[6, 5, 4, 3, 8, 6, 5, 4, 1]

In [79]:
s.append("python")
print(s," ",s2)

[6, 5, 4, 3, 8, 6, 5, 4, 1, 'python']   [6, 5, 4, 3, 8, 6, 5, 4, 1, 'python']

In [81]:
s3=s2.copy()
s3

[6, 5, 4, 3, 8, 6, 5, 4, 1, 'python']

In [82]:
m1=[34,43,55,66]
m1

[34, 43, 55, 66]

In [83]:
m=m1

In [84]:
m2=m

In [85]:
m1.append(100)
print(m1,m,m2)

[34, 43, 55, 66, 100] [34, 43, 55, 66, 100] [34, 43, 55, 66, 100]

In [89]:
# print the squares of elements in the list
a=[2,4,5,7,8]
print(a)
b=[]
for i in range(0,len(a)):
    a[i]= a[i]*a[i]
b=a
print(b)

[2, 4, 5, 7, 8]
[4, 16, 25, 49, 64]

In [93]:
c1=[2,4,5,3,8]
c2=[]
c3=[]
for i in range(0,len(c1)):
    c2.append(c1[i]**2)
print(c2)
for i in c1:
    c3.append(i**2)
print(c3)

[4, 16, 25, 9, 64]
[4, 16, 25, 9, 64]

In [97]:
x=[2,4,1,3,6,5,7,8,9,10,23,26]
x2=[]
for i in x:
    if(i%2==0):
        x2.append(i)
print(x2)

[2, 4, 6, 8, 10, 26]

In [98]:
z=[]
sum=0
len=int(input("enter length"))
for i in range(0,len):
    z.append(int(input()))
print(z)
for i in range(0,len):
    sum=sum+z[i]
print(sum)

enter length5
5
4
6
9
8
[5, 4, 6, 9, 8]
32

In [102]:
za=[]
sum1=0
len1=int(input("enter length"))
for i in range(0,len1):
    za.append(int(input()))
    sum1=sum1+za[i]
print(za)
print(sum1)

enter length5
3
2
1
9
7
[3, 2, 1, 9, 7]
22

In [1]:
# sum builtin function
a1=[2,4,5,7,9]
sd1=sum(a1)
print(sd1)

27

# Tuples


1. in list [] in tuple ()
2. lists are mutable and tuples are immutable
3. tuples are heterogenous
4. remove,append,pop,insert,sort cannot be used

In [7]:
t=(23,45,76,88)
az,sx,dc,fv=t
print(t,type(t))
print(az,sx,dc,fv)

(23, 45, 76, 88) <class 'tuple'>
23 45 76 88

# Dictionaries
### syntax: (key1:value1, key2:value:2,............)
1. key should be a value
2. key should be immmutable

In [12]:
dict1={"name":"rohi","course":"python","id":22}
dict1

{'name': 'rohi', 'course': 'python', 'id': 22}

In [14]:
dict1["course"]

'python'

In [16]:
#replace value in a key
dict1["course"]="c"
dict1

{'name': 'rohi', 'course': 'c', 'id': 22}

In [18]:
#adding entry
dict1["college"]="gitam"
dict1["address"]="hyd"
dict1

{'name': 'rohi', 'course': 'c', 'id': 22, 'college': 'gitam', 'address': 'hyd'}

In [19]:
#deleting entry
del dict1["address"]
dict1

{'name': 'rohi', 'course': 'c', 'id': 22, 'college': 'gitam'}

In [22]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## functions
### def name_func(arg list):
####    statements
####    return

In [26]:
def add(x1,y1):#func definition
    print(x1+y1)
print(add(10,13))#func call
print(add(100,300))

23
None
400
None

In [27]:
def add(x1,y1):#func definition
    return (x1+y1)
print(add(10,13))#func call
print(add(100,300))

23
400

In [28]:
def square(x):
    return (x*x)
def cube(x):
    return (x*x*x)
print(cube(int(input())))

5
125